%h2= "Tabs and pills"
%ul.tabs
  %li.active= link_to "Home", "#"
  %li= link_to "Profile", "#"
  %li= link_to "Messages", "#"
  %li= link_to "Settings", "#"
  %li= link_to "Contact", "#"

%ul.pills
  %li.active= link_to "Home", "#"
  %li= link_to "Profile", "#"
  %li= link_to "Messages", "#"
  %li= link_to "Settings", "#"
  %li= link_to "Contact", "#"
