!!!
%html
  %head
    %title Bootstrap, from Twitter
    // HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "docs"
    = stylesheet_link_tag    "prettify"
    = javascript_include_tag "application"
    = javascript_include_tag "prettify"
    = javascript_include_tag "http://autobahn.tablesorter.com/jquery.tablesorter.min.js"
    = csrf_meta_tags
    %script
      $(function () { prettyPrint() });
      $(function() { $("table#sortTableExample").tablesorter({ sortList: [[1,0]] }); });
  %body
    .topbar{ "data-dropdown" => "dropdown" }
      .topbar-inner
        .container
          %a= link_to "Bootstrap", samples_path, :class => 'brand'
          %ul.nav
            %li= link_to "Overview", "#overview"
            %li= link_to "Grid", "#grid-system"
            %li= link_to "Typography", "#typography"
            %li= link_to "Media", "#media"
            %li= link_to "Tables", "#tables"
            %li= link_to "Forms", "#forms"
            %li= link_to "Navigation", "#navigation"
            %li= link_to "Alerts", "#alerts"
            %li= link_to "Popovers", "#popovers"
            %li.dropdown
              %a.dropdown-toggle{ :href => "#" } Javascripts
              %ul.dropdown-menu
                %li= link_to "Modals", "#modals"
                %li= link_to "Dropdown", "#dropdown"
                %li= link_to "ScrollSpy", "#scrollspy"
                %li= link_to "Tabs", "#tabs"
                %li= link_to "Twipsy", "#twipsy"
                %li= link_to "Popover", "#popover"
                %li= link_to "Alerts", "#alert"
    .container
      = render 'samples/overview'
      = render 'samples/grid'
      = render 'samples/typography'
      = render 'samples/media'
      = render 'samples/tables'
      = render 'samples/forms'
      = render 'samples/navigation'
      = render 'samples/alerts'
      = render 'samples/popovers'
      #bootstrap-js
        = render 'samples/modal'
        = render 'samples/dropdown'
        = render 'samples/scrollspy'
        = render 'samples/tabs'
        = render 'samples/twipsy'
        = render 'samples/popover'
        = render 'samples/alert'
    %footer.footer
      .container
        %p.pull-right
          %a{ :href => "#" } Back to top
        %p Footer goes here

