.page-header
  = link_to 'New Beta signup', new_beta_signup_path, :class => 'btn primary'
  %h1 Listing beta_signups

%table.zebra-striped
  %thead
    %tr
      %th Email
      %th
      %th
      %th

  %tbody
    - @beta_signups.each do |beta_signup|
      %tr
        %td= beta_signup.email
        %td= link_to 'Show', beta_signup
        %td= link_to 'Edit', edit_beta_signup_path(beta_signup)
        %td= link_to 'Destroy', beta_signup, :confirm => 'Are you sure?', :method => :delete
