!!!
%html
  %head
    %title Alpha
    %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .topbar
      .fill
        .container
          = link_to "Alpha", root_path, :class => "brand"
          %ul.nav
            %li= link_to "Sign In", new_user_session_path
            %li= link_to "Register", new_user_registration_path
    .container
      = flash_messages
      = yield

