!!!
%html
  %head
    %meta{ "http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8" }
    %meta{ "name" => "viewport", "content" => "width=device-width, initial-scale=1.0" }
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    // Facebook open graph meta tags
    %meta{:property => "og:title", :content => ""}
    %meta{:property => "og:description", :content => ""}
    %meta{:property => "og:type", :content => ""}
    %meta{:property => "og:url", :content => ""}
    %meta{:property => "og:image", :content => ""}
    %title= content_for?(:title) ? yield(:title) : "Alpha"
    = yield :stripe
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    = stylesheet_link_tag    "screen",      media: "screen, projection"
    = stylesheet_link_tag    "print",       media: "print"
    /[if IE]
      = stylesheet_link_tag  "ie",          media: "screen, projection"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    #wrap
      = render "layouts/partials/navigation"
      .container
        .row
          .span12
            = flash_messages
        = yield
        #push
    = render "layouts/partials/footer"




