!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : "Alpha"
    // HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = yield :head
  %body.landing
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Alpha", root_path, :class => "brand"
          %ul.nav
            = login_status
          //%form.pull-right{ :action => "" }
          //  %input.input-small{ :type => "text", :placeholder => "Username" }
          //  %input.input-small{ :type => "password", :placeholder => "Password" }
          //  %button.btn{ :type => "submit" } Sign in
    .container.main-content
      .row
        .span12
          = flash_messages
          = yield
      %footer
        %p= "&copy; #{Time.now.year}".html_safe

